@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@model masterpeace2.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@*<h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>*@
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@



<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="index.html">Home</a>
                            </li>
                            <li class="is-marked">

                                <a href="signup.html">Signup</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary">CREATE AN ACCOUNT</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row row--center">
                    <div class="col-lg-6 col-md-8 u-s-m-b-30">
                        <div class="l-f-o">
                            <div class="l-f-o__pad-box">
                                <h1 class="gl-h1">PERSONAL INFORMATION</h1>
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    //<form class="l-f-o__form">
                                    <div class="gl-s-api">
                                        <div class="u-s-m-b-15">

                                            <button class="gl-s-api__btn gl-s-api__btn--fb" type="button">
                                                <i class="fab fa-facebook-f"></i>

                                                <span>Signup with Facebook</span>
                                            </button>
                                        </div>
                                        <div class="u-s-m-b-30">

                                            <button class="gl-s-api__btn gl-s-api__btn--gplus" type="button">
                                                <i class="fab fa-google"></i>

                                                <span>Signup with Google</span>
                                            </button>
                                        </div>
                                    </div>
                                    @Html.ValidationSummary("", new { @class = "text-danger" })

                                    <div class="u-s-m-b-30">

                                        <label class="gl-label" for="login-email">First Name *</label>

                                        <input class="input-text input-text--primary-style" type="text" id="fname" name="fname" placeholder="Enter First Name">
                                    </div>
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label" for="login-email">Last Name *</label>

                                        <input class="input-text input-text--primary-style" type="text" id="lname" name="lname" placeholder="Enter Last Name">
                                    </div>
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label" for="login-email">Phone Number </label>

                                        <input class="input-text input-text--primary-style" type="text" id="Phone" name="Phone" placeholder="Enter Last Name">
                                    </div>

                                    <div class="u-s-m-b-30">

                                        <label class="gl-label">E-MAIL *</label>

                                        <input class="input-text input-text--primary-style" type="text" id="Email" name="Email" placeholder="Enter E-mail">
                                    </div>
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label">PASSWORD *</label>

                                        <input class="input-text input-text--primary-style" type="text" id="Password" name="Password" placeholder="Enter Password">
                                    </div>
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label">Confirm PASSWORD *</label>

                                        <input class="input-text input-text--primary-style" type="text" id="ConfirmPassword" name="ConfirmPassword" placeholder="Enter Password">
                                    </div>
                                    <div class="u-s-m-b-20">
                                        <label class="gl-label">User Type *</label>
                                    </div>
                                    <div class="u-s-m-b-20">
                                        <div class="radio-box">
                                            <input type="radio" id="usertype" value="0" name="usertype">
                                            <div class="radio-box__state radio-box__state--primary">

                                                <label class="radio-box__label" for="usertype">Customer</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="u-s-m-b-20">    
                                        <div class="radio-box">
                                            <input type="radio" id="usertype" value="1" name="usertype">
                                            <div class="radio-box__state radio-box__state--primary">

                                                <label class="radio-box__label" for="usertype">Rstaurant</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="u-s-m-b-15">

                                        <button class="btn btn--e-transparent-brand-b-2" type="submit">CREATE</button>
                                    </div>

                                    <a class="gl-link" href="#">Return to Store</a>
                                }
                                @*</form>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>
<!--====== End - App Content ======-->
