@model masterpeace2.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdminDash.cshtml";
}
<div class="col-md-7 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Create", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))

            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Create Category</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Category_Name, "Category Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Category_Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Category_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Category_Image, "Category Image", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="ImageFile" accept="image/*" id="ImageFile" onchange="previewImage(this, 'preview')" />
                            <img id="preview" style="display:none; height:100px; width:100px;" />
                            @Html.ValidationMessageFor(model => model.Category_Image, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Discription, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Discription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Discription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>

<script>
    function previewImage(input, previewId) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#' + previewId).attr('src', e.target.result);
                $('#' + previewId).show();
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
